.headSet {
  display: flex;
  justify-content: space-around;
}

.midSet {
  display: flex;
  justify-content: space-evenly;
}

.user-dashboard {
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
    h2 {
      font-size: 24px;
      margin-bottom: 15px;
    }
  
    p {
      font-size: 18px;
      margin: 5px 0;
    }
  
    .error {
      color: red;
      font-weight: bold;
    }
  }

.custom-table {
    width: 40%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
  }
  
  .custom-table thead th {
    text-align: center;
    color: white; // Белый текст в заголовках
    font-weight: bold;
  }

  .custom-table thead tr {
    background-color: #1a202c; // Темный фон для заголовков
    color: white; // Белый текст в заголовках
    font-weight: bold;
  }
  
  .custom-table th,
  .custom-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd; // Разделение строк
  }
  
  .custom-table tbody tr {
    background-color: #2d3748; // Темно-серый фон для строк
    color: #f0f0f0; // Светлый текст
  }
  
  .custom-table tbody tr:nth-of-type(even) {
    background-color: #4a5568; // Чередующийся цвет для четных строк
  }
  
  .custom-table tbody tr:hover {
    background-color: #718096; // Цвет при наведении
  }
  
  .custom-table td {
    font-size: 16px;
    text-align: center; // Центровка текста в ячейках данных
  }
  